{# templates/livre/ajouter.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{titre}} un Genre{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{titre}} un Genre</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
